# Rename this file to `.env`

DEVICE_TOKEN=<The VOIP push token of the physical iOS device>
BUNDLE_ID=<The registered Bundle ID of your app (eg com.app.name)>
P12_CERT_LOCATION=<Absolute location to the P12 certificate for VOIP services.>
