# Use a token with all permissions to experience the full demo 
# You can use ./get_token_full_permission.sh to get a valid token.
VITE_ROOM_TOKEN=<Token from the `api/video/room_tokens` endpoint>

# You'll need this to run the demo for the SignalWire Client
# Generate this using scripts/refresh-fabric-tokens
VITE_FABRIC_TOKEN=<Fabric application Access token>